@tailwind base;
@tailwind components;
@tailwind utilities;

.table-container {
  position: relative;
  overflow: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table,
th,
td {
  border: 0.5px solid #a3a3a3a3;
}

th,
td {
  padding: 5px;
  text-align: right;
  background-color: transparent;
}

th {
  background-color: transparent;
  position: sticky;
  top: 0;
  z-index: 1; /* Ensure header is above the rest of the table content */
}

/* Optional: Add some padding to the bottom of tables to avoid content hiding under the scrollbar */
.table-container {
  padding-bottom: 20px;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}
.layout-container {
  position: relative;
  height: 100%;
  width: 100%;
  transition: all 0.5s ease;
}

.layout-container.expanded {
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 100;
  padding-bottom: 25px;
}

.layout-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 5px 10px;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 1;
}

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  text-align: center;
  border-radius: 50%;
  background: transparent;
  color: #767777;
  transition: background-color 0.3s;
}

.icon:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

#tv-attr-logo {
  display: none !important;
}
